<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.zhimingwang.mDNSSupervisor</string>
		<key>Program</key>
		<string>/usr/local/sbin/mDNSSupervisor</string>
		<!-- Uncomment the following if you want to add options (see mDNSSupervisor -help). -->
		<!-- <key>ProgramArguments</key>
		<array>
			<string>-debug</string>
		</array> -->
		<key>StandardOutPath</key>
		<string>/var/log/mDNSSupervisor.log</string>
		<key>StandardErrorPath</key>
		<string>/var/log/mDNSSupervisor.log</string>
		<key>RunAtLoad</key>
		<true />
		<key>KeepAlive</key>
		<true />
		<!-- Don't hammer the system too hard in case anything goes wrong. We don't want to be mDNSResponder all over again. -->
		<key>ThrottleInterval</key>
		<integer>1</integer>
	</dict>
</plist>
